+b('main').main
    +e('nav').buttons
        +e('button').button.--active №1
        +e('button').button №2
        +e('button').button №3
        +e('button').button №4
        +e('button').button №5
        +e('button').button №6
    +e.body