+b('aside').sidebar
    +e('input').title(type='text' placeholder='Title')
    +e('input').date(type='text' placeholder='Date' readonly)
    +e('textarea').desc(placeholder='Description')
    +e.actions
        +e('button').button.__del Del
        +e('button').button.__save Add/Save